<h2>Data Cards</h2>

<ul class="nav nav-pills">
  <li><%= link_to "Grid", admin_card_path(@card) %></li>
  <li class="active"><%= link_to "Recent graphs", admin_card_graphs_path(@card) %></li>
  <li><%= link_to "New graph", new_admin_card_graph_path(@card) %></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="index">
    <%= render :partial => 'admin/card_graphs/table' %>
  </div>
</div>

