<% content_for :head do %>
  <link rel="stylesheet" href="/static/stylesheets/datajam/datacard/d3.css">
  <script type="text/javascript" src="/static/javascripts/datajam/datacard/d3.v2.min.js"></script>
  <script type="text/javascript" src="/static/javascripts/datajam/datacard/nv.d3.min.js"></script>
<% end %>

<div id="chart"><svg style="height: 400px"></svg></div>

<%= javascript_tag do %>
  var chartData = <%= raw @graph.cached_data.to_json %>;
<% end %>
<script type="text/javascript" src="/static/javascripts/datajam/datacard/data_card_graphing.js"></script>
