<h4><%= card.title %></h4>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <% card.prepared_data(:csv)[0].each do |header| %>
        <th><%= header %></th>
      <% end rescue nil %>
    </tr>
  </thead>
  <tbody>
    <% card.prepared_data(:csv)[1..-1].each do |row| %>
      <tr>
        <% row.each_index do |i| %>
          <%# FIXME: RSpec doesn't load the helper correctly, can't test. Find a better way to include helpers. %>
          <td><%= formatted_value_for_series_index(row[i], i, card) rescue row[i] %></td>
        <% end %>
      </tr>
    <% end rescue nil %>
  </tbody>
</table>
<p><%= raw card.source %></p>
