<h2><%= @mapping.name %></h2>

<div class="row-fluid">
  <div class="span9">
    <dl class="dl-horizontal">
      <dt>Version</dt><dd><%= @mapping.version %></dd>
      <dt>Authors</dt><dd><%= link_to @mapping.authors, @mapping.email %></dd>
      <dt>Homepage</dt><dd><%= link_to @mapping.homepage, @mapping.homepage %></dd>
      <dt>Base URI</dt><dd><%= link_to @mapping.base_uri, @mapping.base_uri %></dd>
    </dl>
  </div>
</div>

<div class="well">
  <p><%= @mapping.summary %></p>
  <%= markdown @mapping.description %>
</div>

<h3>Endpoints</h3>
<%= render :partial => 'endpoints' %>
