<h2>Data Card Preview</h2>
<%= render partial: 'navigation' %>

<%= raw @card.html %>

<div class="form-actions">
<%= link_to "Edit This Card", edit_admin_card_path(@card), class: "btn btn-primary"%>
<%= link_to "Back", :back, class: "btn" %>
</div>